body {
    background-color: #5e5e5e;
}

h1, h3 {
    text-align: center;
}
.bodyPost{
    background: linear-gradient(70deg, #dd6014, #19d0ee87);
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
}

.fotoPerfil {
    width: 6%;
    margin-left: 10%;
}

.fotoPerfil3{
    width: 10%;
    height: 4em;
}

#fotoPerfil4{
    width: 20%;
}
.fotoPerfil7 {
    width: 20%;
    margin-top: 3%;
}
.fotoPerfil8{
    width: 10%;
}
.post{
    width: 20%;
    margin-top: 3%;
}

#comentariosPerfil{
    color: black;
    background: linear-gradient(180deg, rgb(255, 153, 0), white);
    border-radius: 15px;
    margin-bottom: 2%;
    font-family: calibri;
    text-shadow: 2px 3px rgb(165, 162, 162);
    padding: 0 1%;
}

.autorPost{
    width: 16%;
    text-align: center;
    color: #e34a00;
}

.navUno {
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: black;
    border: 1px solid black;
    margin-bottom: 1px;
    align-items: center;
}

.navUno p {
    padding-right: 5%;
}

p a {
    color: white;
}

.mensaje {
    width: 122%;
    height: 18px;
}
.bodyDatosIncorrecto{
        background: linear-gradient(70deg, black, white);
        display: flex;
        justify-content: center;
        margin-top: 10%;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #dd6014;	
    }
    
.logo {
    width: 14%;
    height: 7em;
    margin-right: 46%;
    margin-left: 3%;
}

.navegador {
    display: flex;
    width: 100%;
    background-color: grey;
}
.navegador2 {
    text-align: center;
    align-items:center;
    width: 100%;
    background-color: grey;
}
.navDos {
    display: flex;
    justify-content: start;
    width: 100%;
    background-color: black;
    border: 1px solid black;
    margin-bottom: 2px;
}

.actividad {
    font-size: x-large;
    padding-left: 6%;
    color: white;
}

.spanes {
    display: flex;
    margin: 2em;
    background-color: #5e5e5e;
    width: 45%;
    align-items: end;
    flex-direction: column;
    align-items: center;
}

.spanes2{
    display: flex;
    margin: 2em;
    background-color: #5e5e5e;
    width: 45%;
    align-items: end;
    flex-direction: column;
    align-items: center;
    margin-top: -8%;
}

.spanes #preguntaUsuario {
    background-color: black;
    width: 100%;
    margin: 3px;
    border-radius: 5px;
    padding: 10px;
    font-family: calibri;
    color: white;
}


.peli {
    background-color: black;
    width: 100%;
    margin: 3px;
    border-radius: 5px;
    padding: 10px;
    font-family: calibri;
    color: white;
}

nav a {
    text-decoration: none;
}

.preguntaUsuario {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 5em;
    display: flex;
    padding: 10px;
    margin-bottom: 5%;
    background-color: black;
}

.input{
margin-left: 2%;
} 

.feedPerfil {
    box-sizing: content-box;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: grey;
}

textarea {
    width: 80%;
    padding: 5px;
}

.preguntaUsuario>img {
    margin-right: 2em;
    border-radius: 20px;
}


.botones {
    float: right;
}

.divSpanDerecha {
    float: right;
    width: 15%;
    height: 10%;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    margin-top: 1em;
    margin-left: 4em;
    color: #f97908;
    font-family: calibri;
    text-align: center;
    margin-top: 4em;
}
.divSpanDerecha2{
    float: right;
    width: 15%;
    height: 10%;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    margin-left: 4em;
    color: #f97908;
    font-family: calibri;
    text-align: center;
    margin-top: 1em;
}
.divIzquierda2{
    width: 76%;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: #f97908;;
    font-family: calibri;
    text-align: center;
}

.parteIzq {
    width: 20%;
    margin-top: 1em;
}

footer {
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: right;
    word-spacing: 15px;
    font-family: palatino sans;
    line-height: 50px;
    color: white;
    word-spacing:2px;
}
footer.perfil {
    margin-top:12.5%;
}

.divfo {
    margin: 1em;
}
.fotoPerfil2{
    width: 20%;
    margin-top: 3%;
}

.todo {
    display: flex;
    justify-content: center;
}

.divComentarios{
    width: 100%;
    background-color: black;
    color: white;
    margin: 5px; 
}

.divIzquierda {
    width: 76%;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: #f97908;
    font-family: calibri;
    text-align: center;
    margin-top: 3em;
}
.divIzquierdaPerfil {
    width: 76%;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: #f97908;
    font-family: calibri;
    text-align: center;
    margin-top: 3em;
}

.sectionprincipal {

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

legend {
    color: white;
}

.enter {

    margin: 0 auto;
    display: inline-block;
    float: none;

}

.section1 {
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
}

.divfo a {
    color: white;
    text-decoration: none;
}

@media all and (max-width: 300px) {
    .sectionprincipal {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
    }
}